*{
    padding: 0;
    margin: 0;
}

body{
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.5em;
}

/* GLOBAL */
.wrapper{
    width: 80%;
    max-width: 1366px;
    margin: 0 auto;
    overflow: hidden;
}

.clear{
    clear: both;
}

button{
    cursor: pointer;
}

.button{
    text-decoration: none;
    color: #00e0d0;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #00e0d0;
    border-radius: 2px;
    top: 10px;
    background: none;
}
.button:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #029E91;
	transition: 0.5s;
}

section .center-line, header .center-line{
    border-bottom: 3px solid #eee;
    width: 100px;
    margin: 20px auto 30px;
}

/* END GLOBAL */

/* HEADER */
header{
    background: url('images/bg-header.png') no-repeat center center;
    min-height: 670px;
    background-attachment: fixed;
    text-align: center;
    background-size: cover;
}

#navbar{
    background: -webkit-linear-gradient(left, #2C2743 0%, #443662 100%);
    min-height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
}

#navbar .tajam-logo{
    background: url('images/tajam-logo.png') no-repeat center center;
    float: left;
    height: 50px;
    width: 128px;
    margin: 10px 0 -10px 0;
}

#navbar .tajam-logo:hover{
    background: url('images/tajam-logo-hover.png') no-repeat;
}

#navbar nav{
    float: right;
    margin: 20px 0px 20px 20px;
}

#navbar nav ul{
    list-style: none;
    padding-top: 10px;
}

#navbar nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    font-weight: bold;
}

#navbar nav a:hover, #bottom-left a:hover{
    color: #00e0d0;
}

#navbar .menu .active{
    color: #00e0d0;
}

.navbar-fixed-top.scrolled {
    color: #fff !important;
    transition: background-color 200ms linear;
}

#main{
    text-align: center;
    margin-top: 200px;
    color: #fff;
    margin-bottom:50px;
}

#main h1{
    letter-spacing: 0.05em;
    font-size: 40px;
    margin-bottom: 30px;
    line-height: 1em;
}

header .center-line{
    border-bottom: 2px solid #00e0d0;
}

#main p{
    padding: 0px 100px;
    margin-bottom: 40px;
}
/* END OF HEADER */

/* ABOUT */
#about{
    background: #fff;
    min-height: 850px;
    padding-top: 100px;
}

#our-story{
    min-height: 350px;
    margin: 0 auto;
}

#our-story .logo-story{
    float: left;
    min-width: 30%;
    background: url('images/tajam-story-logo.png') no-repeat 100%;
    height: 235px;
    padding: 40px;
    position: relative;
    transition: 1.5s;
}

#our-story .logo-story:hover{
    transform: rotateX(360deg);
}

#our-story .story-desc{
    float: right;
    width: 55%;
    padding-top: 5px;
    padding-bottom: 50px;
}

#our-story .story-desc h2{
    margin-bottom: 30px;
    font-size: 40px;
}

#our-story .story-desc p{
    margin-bottom: 20px;
    text-align: justify;
}

#story-video{
    margin-top: 50px;
    background: url('images/bg-our-story.jpg') no-repeat center;
    min-height: 450px;
    background-attachment: fixed;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;	
	background-size: cover;
}

#story-video .play-icon{
    margin-bottom: 30px;
    background: url('images/play.png') no-repeat;
    height: 100px;
    width: 100px;
    margin-top: 120px;
}

#story-video .play-icon:hover{
    animation: flip-side 1.5s ease-out;
    background: url('images/play-hover2.png') no-repeat;
    height: 100px;
    width: 100px;
    margin-top: 120px;
}
/* END OF ABOUT */

/* EXPERTISE */
#expertise{
    min-height: 500px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#expertise:after{
    content: "";
    display: block;
    clear: both;
}

#expertise h2{
    text-transform: uppercase;
    font-size: 30px;
    padding-bottom: 15px;
}

#expertise ul{
    width: 100%;
    margin: 0 auto;

}
#expertise li{
    list-style-type: none;
    float: left;
    width: 27%;
    height: 250px;
    text-align: center;
    padding: 4% 3% 0 3%;
}

#expertise li:hover{
	box-shadow: 0px 0px 40px #eee;
}

#expertise li h4{
    padding: 15px 0;
}

#expertise img{
    height: 50px;
    transition: 1s;
}

#expertise li:hover img{
    transform: rotateY(360deg);
}

#expertise li:first-child, 
#expertise li:nth-child(2){
    border-right: 1px solid #DDDDDD;
}

#expertise ul:last-child li:nth-child(1), 
#expertise ul:last-child li:nth-child(2), 
#expertise ul:last-child li:nth-child(3){
    border-top: 1px solid #DDDDDD;
}
/* END OF EXPERTISE */

/* TEAMS */
#teams{
    padding-top: 200px;
    min-height: 650px;
    background: url('images/bg-teams.jpg') no-repeat center;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
	background-size: cover;
}

#teams h2{
    margin-top: -100px;
    font-size: 30px;
    text-transform: uppercase;
}

#teams p{
    padding: 10px 20px 0 20px;
    margin-bottom: 30px;

}

#teams .wrapper{
    margin-bottom: 30px;

}

#teams .row{
    min-height: 150px;
}

#teams .box{
    float: left;
    width: 23%;
    min-height: 250px;
    text-align: center;
    margin: 30px 1%;
    box-sizing: border-box;
    border: 1px solid #605D6D;
}

#teams img{
    height: 75%;
    width: 99%;
}

#teams .box h4{
    margin: 7px 0 -13px 0;
}

#teams .box p{
    color: #C2C2C2;
    font-size: 14px;
}
/* END OF TEAMS */

/* WORKS */
#works{
    min-height: 600px;
    padding-top: 100px;
    text-align: center;
}

#works:after{
    content: "";
    display: block;
    clear: both;margin-bottom: 100px;
}

#works h2{
    float: left;
}

#works a.dribbble{
    float: right;
    text-decoration: none;
    color: #504E58;
}

#works a.dribbble:hover{
    font-weight: bold;
}   

#works a.dribbble img{
    padding-left: 15px;
}

#works .row{
    margin: 100px auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#works .row:first-child{
    margin-bottom: 10px;
}

#works .box{
    flex: 0 1 210px;
    height: 210px;
    width: 210px;
    border: 1px solid #fff;
}

#works .box:nth-child(even){
    background: #666666;
}

#works .box:nth-child(odd){
    background: #C2C2C2;
}

#works .button{
    position: relative;
    top: 50px;
}
/* END OF WORKS */

/* PEOPLE SAY */
#people-say{
    padding-top: 100px;
    min-height: 450px;
    background: url('images/bg-people-say.jpg') no-repeat center center;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

#people-say p:nth-child(2){
    padding: 30px 15%;
    
}

#people-say p:nth-child(4){
    color: #C2C2C2;
    padding-bottom: 30px;
    font-size: 13px;
}

#people-say .peoples{
    min-height: 200px;
}

#people-say .peoples img{
    padding: 0 1%;
}
/* END OF PEOPLE SAY */

/* CONTACT */
#contact{
    min-height: 545px;
    background: #fff;
    color: #000;
    padding-top: 100px;
    
}

#contact:after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 50px;

}
#contact h2{
    text-transform: uppercase;
    font-size: 30px;
    padding: 30px 0;
}

.contact-us{
    float: left;
    width: 40%;
}

form input[type="text"], input[type="email"], textarea{
    width: 90%;
    padding: 15px;
    border: 1px solid #D8D8D8;
    margin: 10px 0;
    color: #153635;
}

form input::placeholder, textarea::placeholder{
    color: #D8D8D8;
}

form input:focus, textarea:focus{
    outline: 0 none;
    border: 1px solid #00e0d0;
}

.our-client{
    float: right;
    width: 50%;
    text-align: right;
}

.our-client img{
    width: 70%;
    margin: 5% auto;
}
/* END OF CONTACT */

/* FOOTER */
footer{
    background: url('images/bg-footer.jpg') no-repeat center;
    min-height: 400px;
    color: #fff;
	background-size: cover;
}

.left{
    float: left;
    width: 30%;
    padding: 50px 2% 50px 0%;
}

.left img{
    margin-bottom: 30px;
}

.left p{
    margin-bottom: 90px;
    text-align: justify;
}

.center{
    float: left;
    width: 30%;
    padding: 60px 2%;
}

.center h3{
    margin-bottom: 45px;
}

.center img{
    padding-right: 10px;
}

.center .address{
    margin-bottom: 10px;
    text-align: justify;
}

.center .p{
    position: relative;
    top: -5px;
}

.right{
    float: right;
    width: 29%;
    padding: 60px 0 55px 0;
    margin-right: -2%;
}

.right h3{
    margin-bottom: 40px;
}

.right input[type="email"]{
    width: 60%;
    background: none;
    color: #C2C2C2;
}

.right input:focus{
    outline: 0 none;
    border: 1px solid #00e0d0;
}

.right button:focus{
    outline: 0 none;
    border: 1px solid #00e0d0;
}

.right button{
    position: relative;
    top: 6px;
    left: 1%;
    width: 50px;
    padding: 10px ;
    background: rgba(216, 216, 216, 0.2);
    border: none;
}

.right form{
    margin-bottom: 10px;
}

#bottom-left{
    float: left;
    width: 50%;
}

#bottom-left ul{
    list-style: none;
}
#bottom-left li{
    display: inline;
}
#bottom-left a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#bottom-right{
    float: left;
    width: 50%;
}

#bottom-right .credit{
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    margin-right: 40px;
    margin-bottom: 50px;
}

/* END OFFOOTER */

@keyframes flip-side{
    0%{transform: rotateY(360deg)}
}

/* MEDIA QUERY */

@media (max-width:990px) {
    .tajam-logo, nav {
        float: none;
        margin : 0 auto;
        text-align: center;
    }   
}

@media (max-width:917px) {

    #main p{
    padding: 0px 30px;
    }
    
    
    #expertise .box,
    .tajam-logo,
    nav{
        float: none;
        width: 100%;
        text-align: center;
    }
    #expertise li{
        width: 43%;
    }

    #expertise li:first-child,
    #expertise li:nth-child(2){
        border-right: none;
    }
    #expertise ul:first-child li:first-child{
        border-right: 1px solid #DDDDDD;
        
    }

    #expertise ul:first-child li:nth-child(3),
    #expertise ul:last-child li:nth-child(2){
        border-top: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
    }

    #expertise li h4{
        font-size: 14px;
    }

    .wrapper{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
    }

    
    #teams .box{
        width: 35%;
        margin: 30px 7%;
    }
}

@media (max-width:720px) {

    #our-story .logo-story{
        float: none;
        width: 0%;
        margin: 0 auto;
        padding-left: 120px;
        
    }

    #our-story .story-desc{
        float: none;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 50px;
    }  

    .our-client img{
        width: 90%;
        margin: 5% auto;
    }
}

@media (max-width: 768px){
    #burger-menu{
        background: url('images/menu.png')no-repeat center center;
        width: 45px;
        height: 45px;
        float: right;
        margin-top: -30px;
        margin-bottom: -30px;
        cursor: pointer;
    }

    #navbar nav a{
       display: block;
       border-bottom: 1px solid #2C2743;
    }

    #navbar nav{
        float: right;
        margin: 0px 0px 20px 0px;
    }

    nav .menu{
        display: block;
    }

    nav ul{
        height: 0;
    }

    nav ul.open{
        height: auto;
    }

    nav li{
        margin-top: 10px;
    }

    #navbar{
        position: relative;
    }
    
    .contact-us{
        float: none;
        width: 80%;
        padding: 0 10%;
    
    }

    .our-client{
        float: none;
        width: 80%;    
        margin: 10% auto;    
    }

    .our-client img{
        width: 98%;
        margin: 5% 0;
    }

    .left, .center, .right,
    #bottom-left, #bottom-right{
        float: none;
        width: 100%;
    }

    .left{
        padding: 50px 2% 0px 0%;
    }

    .left p{
        margin-bottom: 10px;
    }

    .center{
       padding: 30px 0%;
    }

    .right{
        padding: 30px 0 55px 0;
        margin-right: -2%;
    }

    div.left, div.center{
        padding-bottom: 10px;
        border-bottom: 1px solid #443662;
    }

    #bottom-right .credit{
        margin-right: 10px;
        text-align: left;
        margin-left: 5px;
        margin-top: 10px;
    }    
    
}

@media (max-width:620px) {
    header, #story-video, #teams, #people-say{
        background-attachment: scroll;
    }
    
    #expertise li{
        width: 100%;
    }
    #teams .box{
        width: 70%;
        margin: 30px 15%;
    }
}